{% include '../partials/header.html' %}
{% include 'partials/navbar.html' %}

<!-- Indiividual Category -->
<br><br><br>
<h1>{{cart}} Shopping Cart</h1>
<div class="cart-columns">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
</div>

{% include '../partials/footer.html' %}