{% include '../partials/header.html' %}
{% include 'partials/navbar.html' %}

<!-- All of the categories -->
<br><br><br>
<h1>All Product Categories</h1>
<div class="categorybody">
    <div class="row">
        {% for key, value in data.items %}
        <div class="column">
            <div class="imgcontainer">
                <img src="{{ value.image }}" class="categorypics">
                <div class="bottom-left">{{ value.name }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<br><br>