{% include '../partials/header.html' %}
<h1>Singular Product: {{id}}</h1>
<br><br>
<div class="row">
    <div class="column">
        <img src="../../static/images/featuredproducts.jpg">
    </div>
    <div class="column">
        <h2 style="text-align:left">Product Name</h2>
        <h3 style="text-align:left">Price</h3>
        <p style="text-align:left">Description (Filler Text Filler Text Filler Text Filler Text Filler Text Filler Text
            Filler Text)</p>
    </div>
</div>
{% include '../partials/footer.html' %}