<!DOCTYPE html>
<html lang="en">
  <div class="menu-wrapper">
    <header class="header">
      <a href="/" class="logo">ROBOTIC NATION SHOP</a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li><a class="navbutton" id="currentPage" href="index.html">home</a></li>
        <li><a class="navbutton" href="/categories">Shop</a></li>
        <li><a class="navbutton" href="page3.html">page 3</a></li>
        <li><a class="navbutton" href="page4.html">page 4</a></li>
      </ul>
    </header>
  </div>