{% include 'partials/header.html' %}
{% include 'partials/navbar.html' %}

  <body>
    <div><br><br><br>
      <h1>Robotic Nation Merch</h1>
      <p>Robotic Nation consists of tech projects with topics such as Arduino, Raspberry Pi, Web Development, and Python. I aim to provide in-depth tutorials that clearly explain the code and design. Whether you are a beginner or an expert, this channel contains content that will both excite you and spark ideas for new creation. Here, you can find my line of merch!<p>
      <a href="/products"><button>ENTER SHOP</button></a>
    </div>

    <h2>Featured Products</h2>

    <div class="row">
      <div class="quadcolumn">
        <img style="width: 200px;" src="https://media.istockphoto.com/photos/white-mug-isolated-picture-id821282266?k=20&m=821282266&s=612x612&w=0&h=vc7HPB6Te8fSX-_TUFCXp5PYWQUtzTHdbiUJwybjRAA=" class="categorypics">
      </div>
      <div class="quadcolumn">
        <img style="width: 200px;" src="https://media.istockphoto.com/photos/white-mug-isolated-picture-id821282266?k=20&m=821282266&s=612x612&w=0&h=vc7HPB6Te8fSX-_TUFCXp5PYWQUtzTHdbiUJwybjRAA=" class="categorypics">
      </div>
      <div class="quadcolumn">
        <img style="width: 200px;" src="https://media.istockphoto.com/photos/white-mug-isolated-picture-id821282266?k=20&m=821282266&s=612x612&w=0&h=vc7HPB6Te8fSX-_TUFCXp5PYWQUtzTHdbiUJwybjRAA=" class="categorypics">
      </div>
      <div class="quadcolumn">
        <img style="width: 200px;" src="https://media.istockphoto.com/photos/white-mug-isolated-picture-id821282266?k=20&m=821282266&s=612x612&w=0&h=vc7HPB6Te8fSX-_TUFCXp5PYWQUtzTHdbiUJwybjRAA=" class="categorypics">
      </div>
    </div>
    
    <br><br>


</body>

{% include 'partials/footer.html' %}